.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

.container {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    min-width: 60%;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.input {
    border: 1px solid #ccc;    
    border-radius: 0.5rem;
    font-size: 1.5vw;
    width: 50%;
    height: 4vh;
    padding: 1rem 1.2rem;
}

.new {
    background-color: black;
    color: white;
    border-radius: 0.4rem;
    width: 20%;
    font-size: 1.25vw;
    height: 6vh;
}

.inputFilter {
    border: 1px solid #ccc;    
    border-radius: 0.5rem;
    font-size: 1.5vw;
    width: 40%;
    height: 6vh;
    padding: 8px 12px;
}

.headers, .entry {
    margin-top: 4vh;
    gap: 4rem;
    font-size: 1.5vw;
}

.entry {
    font-size: 1.25vw;
}

.table {
    width: 100%;
}